<!DOCTYPE html>
<html>
  <head>
    <title>RaRe TODOs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'includes/header' %>

    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-push-3 col-md-8 col-md-push-2 col-xs-10 col-xs-push-1">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
